.row {
    display: flex;
    margin: 0;
}

.square {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    list-style: none;
    text-align: center;
}

.square > input {
    width: 18px;
    padding: 0;
    border: none;
}

.square > input:focus {
    outline: none;
}

.chosen {
    background-color: red;
}